
  @import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');



body{
    margin: 0 auto;
    font-family: 'Montserrat';
}

header.header{
    display: flex;
    align-items: center;
}

header img{
    width: 150px;
}

section.top-page{
    background: url('../images/bg.jpg');
    background-size: cover; /*Permet de ne pas repeter l'image en cas d'agrandissement*/
    height: 80vh;
    padding: 25px;
}

/* LANDING PAGE PAGE DE BIENVENUE */

.landing-page{
        padding: 20px 50px;

}

.big-title{
    color: white;
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 100;
}

/* -- MENU NAV -- */

nav.nav{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
    margin-left: 30px;
}

nav.nav li{
    color: white;
}

.scroll-down{
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    bottom: 160px; /*Permet de positioner l'élément a gauche, droite,haut ou bas avec un nombre de pixels grace a la position absolute au dessus*/
}

/*SERVICES*/

.services{
    display: flex;
    justify-content: space-evenly; /*C'est comme space-between mais un peu plus propre*/
    margin: 50px;
}

.delivery-icon{
    font-size: 50px;
    color: #ADD981;
}

.service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-details{
    font-weight: 600;
    width: 200px;
    text-align: center;
}

/* NOS MEILLEURES VENTES */

.section-title{
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 100;
    position: relative;
}

.section-title::before{
    content: "";
    position: absolute;
    background-color: #ADD981;
    height: 7px;
    width: 50px;
    bottom: 0;  /*Quand on met un élément en position relatif ensuite a l'interieur de cet element si on met des sous elment en absolu on pourra 
                leur dire de se mettre a droite a gauche ou en haut ou en bas. Ici le titre est en relatif donc pour mettre un element autour on 
                doit mettre cet élément en position absolute*/
}

.best-items{
    margin: 100px;
}

.best-plants{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.plant-box{
    position: relative;
    min-width: 350px;
    
}

.no-grid{
    flex: 1; /*C'est pour que si il y'a 4 images par exemple alors ça prendra tout l'espace vide pour le donner aux 4 images. Pareil pour 1 ou 9 images*/
    background-size: cover; 
    background-position: center;/*Pour centrer les images avec la propriété du dessus aussi*/
}

.plant1{
    background-image: url("images/meilleures-ventes/1.jpg");
}
.plant2{
    background-image: url("images/meilleures-ventes/2.jpg");
}
.plant3{
    background-image: url("images/meilleures-ventes/3.jpg");
}
.plant4{
    background-image: url("images/meilleures-ventes/4.jpg");
}

.plant-details{
    position: absolute;
    background-color: #FFFFFFDF;
    bottom: 0;
    width: 100%;
    padding: 5px 20px;
}

.plant-name{
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.plant-price{
    color: #ADD981;
    font-weight: 800;
    line-height: 3px;
    font-size: 14px;
}

/* Nos plantes */

.all-plants{
    margin: 100px;
}

.plant-grid{
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 300px);
    
}

.plant-grid1{
    background-image: url('images/8778.jpg');
    grid-column: 1/3;
    grid-row: 1/3;
    background-size: cover;
        background-position: center;

}
.plant-grid2{
    background-image: url('images/465.jpg');
    grid-column: 3/5;
    background-size: cover;
        background-position: center;

}
.plant-grid3{
    background-image: url('images/5484.jpg');
    grid-column: 3/5;
    background-size: cover;
        background-position: center;

}
.plant-grid4{
    background-image: url('images/6565.jpg');
    grid-column: 1;
    grid-row: 3/5;
    background-size: cover;
        background-position: center;

}
.plant-grid5{
    background-image: url('images/645645.jpg');
    grid-column: 2/4;
    grid-row: 3/5;
    background-size: cover;
        background-position: center;

}
.plant-grid6{
    background-image: url('images/64546.jpg');
    grid-column: 4;
    grid-row: 3/5;
    background-size: cover;
    background-position: center;
}